In [93]:
import pandas as pd

In [94]:
data = pd.read_csv('data/data_for_prediction.csv')

In [95]:
data['is_normal'] = 0

In [96]:
data.head()

,title,selftext,author,num_comments,is_suicide,url,selftext_clean,title_clean,selftext_length,title_length,is_normal
0,Our most-broken and least-understood rules is ...,We understand that most people who reply immed...,SQLwitch,175,0,https://www.reddit.com/r/depression/comments/d...,understand people reply immediately op invitat...,broken least understood rule helper may invite...,4792,144,0
1,"Regular Check-In Post, with important reminder...",Welcome to /r/depression's check-in post - a p...,SQLwitch,1984,0,https://www.reddit.com/r/depression/comments/m...,welcome r depression check post place take mom...,regular check post important reminder private ...,1651,98,0
2,I just tried to kill myself and my family didn...,I tried to hang myself and it happened like th...,untitled_HumanBeing,27,0,https://www.reddit.com/r/depression/comments/o...,tried hang happened like first lost conscious ...,tried kill family give fuck,868,61,0
3,my body feels like i'm 80,i'm in my 30s but my body feels like im 80. it...,elaapvy,10,0,https://www.reddit.com/r/depression/comments/o...,30 body feel like im 80 weak fragile feel like...,body feel like 80,112,25,0
4,Nsfw : I only have two moods,1) I want to have sex.\n2) I want to die\n\nED...,cherryboom0,141,0,https://www.reddit.com/r/depression/comments/o...,1 want sex 2 want die edit expect post blow ms...,nsfw two mood,193,28,0

In [97]:
normal = pd.read_csv("data/normal.csv")

In [98]:
normal = normal[["selftext"]]

In [99]:
normal.shape

(4141, 1)

In [100]:
normal = normal.dropna()

In [101]:
normal.shape

(1951, 1)

In [102]:
normal['is_normal'] = 1
normal['is_suicide'] = 0

In [103]:
normal.head()

                                             selftext  is_normal  is_suicide
0   https://discord.gg/tfwPhhfrCY  \n\nDaily motiv...          1           0
6   &amp;#x200B;\n\nhttps://reddit.com/link/oo7hf7...          1           0
8   A bit of a bleak start, but I think the exampl...          1           0
14  I started a new journey almost a year ago to p...          1           0
19  Persistence is a skill that we cannot go witho...          1           0

In [104]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer, PorterStemmer
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to /home/sanju/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sanju/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [105]:
def processing_text(series_to_process):
    new_list = []
    tokenizer = RegexpTokenizer(r'(\w+)')
    lemmatizer = WordNetLemmatizer()
    for i in range(len(series_to_process)):
        dirty_string = (series_to_process)[i].lower()
        words_only = tokenizer.tokenize(dirty_string)
        words_only_stem = [lemmatizer.lemmatize(i) for i in words_only]
        words_without_stop = [i for i in words_only_stem if i not in stopwords.words('english')]
        long_string_clean = ' '.join(word for word in words_without_stop)
        new_list.append(long_string_clean)
    return new_list

In [106]:
normal['selftext_clean'] = processing_text(normal['selftext'].values)

In [107]:
normal.head()

,selftext,is_normal,is_suicide,selftext_clean
0,https://discord.gg/tfwPhhfrCY \n\nDaily motiv...,1,0,http discord gg tfwphhfrcy daily motivation im...
6,&amp;#x200B;\n\nhttps://reddit.com/link/oo7hf7...,1,0,amp x200b http reddit com link oo7hf7 video u3...
8,"A bit of a bleak start, but I think the exampl...",1,0,bit bleak start think example hold gt someone ...
14,I started a new journey almost a year ago to p...,1,0,started new journey almost year ago pick new c...
19,Persistence is a skill that we cannot go witho...,1,0,persistence skill cannot go without plan exper...

In [108]:
data = data[['is_normal', 'selftext_clean']]

In [109]:
normal = normal[['is_normal', 'selftext_clean']]

In [110]:
text = pd.concat([data, normal])

In [111]:
text

      is_normal                                     selftext_clean
0             0  understand people reply immediately op invitat...
1             0  welcome r depression check post place take mom...
2             0  tried hang happened like first lost conscious ...
3             0  30 body feel like im 80 weak fragile feel like...
4             0  1 want sex 2 want die edit expect post blow ms...
5             0  ha happened last week week depression also ins...
6             0  unintelligent lack creativeness also think stu...
7             0  depressed could walk home work school feel lik...
8             0  mental health dropped school mom find afterwar...
9             0  admitting wrong thing painful right going phas...
10            0  planning end life everything feel like failed ...
11            0  anyone work place atcually ok take mental heal...
12            0  know many experienced symptom depression fucki...
13            0  fucking hard know sensitive wanna cry trivial ...
14            0  feel like could disappear nobody would notice ...
15            0  30 year old still lagging behind finding job m...
16            0  true like anyone anyone want talk hate insult ...
17            0  good life great parent wonderful sister friend...
18            0  feel like existing depressed recently girlfrie...
19            0  23 year old male found life extremely boring t...
20            0  keep posting reddit thinking somehow help leas...
21            0  hi name important since childhood severely dep...
22            0  like title say get text asking start cry happi...
23            0  maximus came home almost four year ago endurin...
24            0  almost 10 morning american independence day dr...
25            0  book wise movie wise music wise soothes make f...
26            0  ah idk thought let know admitted young adult m...
27            0  well aware fucked life albeit realise wa time ...
28            0  every job absolutely fucking despised right cl...
29            0  suffering depression anxiety mental illness 11...
...         ...                                                ...
4058          1  series good girl okay level stupid woman catch...
4059          1  rewatching married child shortage controversy ...
4060          1  watched little earlier today recently turned 3...
4061          1  ha good imdb rating superman lois imdb http ww...
4062          1  would show house like opening theme bottle pil...
4064          1  watching first time man season 2 man voice cri...
4067          1  always thought like thought line delivery ther...
4070          1  almost done s1 surprised good wire breaking ba...
4075          1  hey guy ha anyone seen el barco creator la cas...
4076          1  show adore binge right away remember discovere...
4078          1  terrible acting terrible casting terrible char...
4080          1  watching sweet tooth thinking bunch character ...
4083          1  finished watching house season 3 episode 12 on...
4084          1  love talking cartoon halfway housebroken first...
4085          1  really like detective show mare easttown came ...
4090          1  seen superhero style movie since around 2015 2...
4091          1  looking something watch sure worth time let in...
4093          1  someone explain true detective get actually ki...
4094          1  mine 1 patty cannon 2 larissa schuster 3 amy b...
4097          1  watched considerable amount tv show life one c...
4099          1  apology long post find series ha celebrated wi...
4101          1  played mathilda imdb showing listing seen look...
4113          1  happy found show wa expecting another okayish ...
4114          1  comment sorted new default feel free describe ...
4115          1  many talking kevin smith master universe inter...
4119          1  read seinfeld soundtrack wa released first tim...
4121          1  opinion end f king world great cliffhanger end...
4124          1  opinionated take two show wa surprised enjoy e...
4127          1  think show whose line anyway use watch show ki...
4137          1  plan run three season ending mind high budget ...

[3917 rows x 2 columns]

In [112]:
text = text.dropna()

In [113]:
X = text['selftext_clean']
y = text['is_normal']

In [114]:
text.iloc[0]

is_normal                                                         0
selftext_clean    understand people reply immediately op invitat...
Name: 0, dtype: object

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [117]:
from sklearn.feature_extraction.text import CountVectorizer, HashingVectorizer, TfidfVectorizer

In [118]:
cvec = CountVectorizer()
cvec.fit(X_train)

CountVectorizer()

In [119]:
X_train_vec = pd.DataFrame(cvec.transform(X_train).todense(), columns=cvec.get_feature_names())
X_test_vec = pd.DataFrame(cvec.transform(X_test).todense(), columns=cvec.get_feature_names())

In [120]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_auc_score, f1_score, precision_score, recall_score

In [121]:
rndclf = RandomForestClassifier()

In [122]:
rndclf.fit(X_train_vec.values, y_train.values)

RandomForestClassifier()

In [123]:
pred = rndclf.predict(X_test_vec.values)

In [124]:
rndclf.score(X_test_vec.values, y_test)

0.8130745658835546

In [125]:
rndclf.score(X_train_vec.values, y_train)

1.0

In [126]:
pred_proba = [i[1] for i in rndclf.predict_proba(X_test_vec.values)]

In [127]:
roc_auc_score(y_test, pred_proba)

0.9281242696404127

In [128]:
tn, tp, fn, fp = confusion_matrix(y_test, pred).ravel()

In [129]:
classi_dict = classification_report(y_test, pred)

In [130]:
print(classi_dict)

              precision    recall  f1-score   support

           0       0.77      0.89      0.83       491
           1       0.87      0.73      0.80       488

    accuracy                           0.81       979
   macro avg       0.82      0.81      0.81       979
weighted avg       0.82      0.81      0.81       979

In [131]:
X_test[:5]

1109    everyday daydream way take life everything wou...
4007    measure entire life tv show show ha different ...
3026    wa excited even hit joke wa exactly like dwigh...
1933    u feel like u human communicate friend family ...
877     leading teambuilding tomorrow group people nev...
Name: selftext_clean, dtype: object

In [132]:
X_test_vec[:5]

,00,000,00am,00pm,00s,01,02f5xwptrho,03,04d07a40,06,...,zoned,zoning,zoo,zoom,zrbl0gpbm4o,zs2ybt6,zucchini,𝙏𝙤𝙤𝙩,𝙘𝙤𝙢𝙢𝙤𝙣,𝙞𝙣
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
pred = rndclf.predict(X_test_vec.values[:5])

In [134]:
pred

array([0, 0, 1, 0, 1])

In [135]:
y_test[:5]

1109    0
4007    1
3026    1
1933    0
877     1
Name: is_normal, dtype: int64

In [136]:
X_test.iloc[0]

'everyday daydream way take life everything would stop'

In [137]:
X_test.iloc[1]

'measure entire life tv show show ha different vibe become engrossed storyline character even actor outside show recently finished orange new black 7 month obsessing stalking actor online watching work watching every behind scene video interview actor etc life revolved around show actor wa constantly mind especially since covid keep u home finished show seen every possible thing related show started watching criminal mind 1 season feel weird like butterfly stomach moved oitnb era experiencing new vibe new character get attached hard explain feeling oitnb wa comforting move even though boring continue rewatching show felt part fandom especially reddit watching orange cm vibe anyone else experience new vibe watching new show finishing old one happens every time finish good one start good one'

In [138]:
X_test.iloc[2]

'wa excited even hit joke wa exactly like dwight said updog'

In [139]:
X_test.iloc[3]

'u feel like u human communicate friend family five minute u like nah want kill self burden probably want hear talking nonsense go room shut'

In [140]:
X_test.iloc[4]

'leading teambuilding tomorrow group people never met one introductory game play called coffee tea rule simple game master asks question people go side corresponds preference example game master say prefer coffee go left prefer tea go right everyone go side staying middle preferring neither decide also option game despite simplicity lot fun great way know question already summer winter cat dog sea mountain want ask help think interesting question used game'